# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data & Heavy Artifacts (Large Files)
data/raw/
artifacts/
*.npy
*.pth
*.pt
*.onnx
*.bin
*.pkl

# Logs & outputs
*.log
failed_downloads.log
loss_log.csv
submission.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS specific
.DS_Store
Thumbs.db
